@font-face {
    font-family: 'Muller';
    src: url('./fonts/MullerBold.eot');
    src: url('./fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/MullerBold.woff2') format('woff2'),
        url('./fonts/MullerBold.woff') format('woff'),
        url('./fonts/MullerBold.ttf') format('truetype'),
        url('./fonts/MullerBold.svg#MullerBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('./fonts/MullerMedium.eot');
    src: url('./fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/MullerMedium.woff2') format('woff2'),
        url('./fonts/MullerMedium.woff') format('woff'),
        url('./fonts/MullerMedium.ttf') format('truetype'),
        url('./fonts/MullerMedium.svg#MullerMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('./fonts/MullerExtraBold.eot');
    src: url('./fonts/MullerExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/MullerExtraBold.woff2') format('woff2'),
        url('./fonts/MullerExtraBold.woff') format('woff'),
        url('./fonts/MullerExtraBold.ttf') format('truetype'),
        url('./fonts/MullerExtraBold.svg#MullerExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

